.career-page {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    font-family: Arial, sans-serif;
}

.photo-container {
    flex-shrink: 0;
}

.profile-photo {
    width: 100%;
    height: 420px;
    border-radius: 8px;
    max-width: 200px;
}

.content-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    width: 100%;
}

.content-box {
    padding: 20px;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

.box1 {
    background-color: #8BB1F5;
    /* Light blue */
    font-size: 40px;

}

.box2 {
    background-color: #7B4CB8;
    font-size: 40px;
    /* Purple */
}

.box3 {
    background-color: #66C7C6;
    /* Teal */
    grid-column: span 2;
    font-size: 40px;

}

.box4 {
    background-color: #8A86B9;
    /* Light purple */
    font-size: 40px;

}

.box5 {
    background-color: #A08CD4;
    font-size: 40px;

    /* Lavender */
}