@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.App {
    text-align: center;
    height: 100vh;
}

.container {
    padding: 2.5rem 0;
}

#template>div>h2 {
    color: purple;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#template {
    display: flex;
    flex-direction: column;
}

#template_id1 {
    padding: 20px;
}