/* Navbar styles */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    background-color: #333;
    color: #fff;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;


}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-brand {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.navbar-center {
    display: flex;
}

.nav-links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    height: 50px;

}

.nav-links a:hover {
    text-decoration: none;
}

/* Hamburger icon */
.navbar-hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    font-size: 1.5rem;
    color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-center {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 1rem;
        border-radius: 5px;
    }

    .nav-links {
        flex-direction: column;
        /* Make links stack vertically */
        gap: 1.5rem;
    }

    .navbar-center.open {
        display: flex;
    }

    .navbar-hamburger {
        display: block;
    }
}


.navbar-brand {
    position: relative;
    width: 170px;
    left: 15px;
    background-color: #333;
    cursor: pointer;
}

a {
    background-color: white;
    border: 1px solid orange;
    color: orange;
}