.hero-image {
    background-image: linear-gradient(rgba(65, 64, 64, 0.5), rgba(235, 229, 229, 0.5)), url("https://images.squarespace-cdn.com/content/v1/5a4c16a949fc2bcd8a5424c3/1678224074172-UCUIQR5GM8Z2AW8LVK6N/professional-headshots-emily-brunner-photography-2320.jpg?format=1000w");
    height: 50%;
    background-position: center;
    background-color: #555;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}

.hero-text {
    text-align: center;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    /* transform: translate(-50%, -50%); */
    color: white;
}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

#head1 {
    font-size: 50px;
    padding: 5%;
    text-align: center;
}

#steps {
    display: flex;
    flex-direction: row;
    margin: 10%;
}

#steps>div {
    padding: 5%;
}

.step_img {
    height: 30%;
    width: 25%;
    background-color: white;
    border-radius: 50%;
    padding: 4%;
}

#template>div {
    text-align: center;
}

@media (max-width: 480px) {
    #steps {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }

    .step_img {
        height: 10%;
        width: 15%;
        background-color: white;
        border-radius: 50%;
        padding: 4%;
    }

}

@media (max-width: 768px) {
    #steps {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }

    .step_img {
        height: 10%;
        width: 15%;
        background-color: white;
        border-radius: 50%;
        padding: 4%;
    }

}

@media (max-width: 1024px) {
    #steps {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }

    .step_img {
        height: 10%;
        width: 15%;
        background-color: white;
        border-radius: 50%;
        padding: 4%;
    }

}




/* @media (min-width: 600px) {
    #steps {
        display: flex;
        flex-direction: row;
        margin: 10%;
    } */



/* @media (min-width: 900px) {
    #steps {
        display: flex;
        flex-direction: row;
        margin: 10%;
    }
}


@media (max-width: 599px) {
    #steps {
        display: flex;
        flex-direction: column;
        margin: 10%;
    }

} */